@model Tarefa

<div class="container mt-4">
    <form asp-action="Create" method="post" asp-controller="Tarefa">
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="Id" class="form-label"></label>
                <input type="text" asp-for="Id" class="form-control" />
            </div>
            <div class="col-md-3">
                <label asp-for="Descricao" class="form-label"></label>
                <input type="text" asp-for="Descricao" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="DataInicio" class="form-label"></label>
                <input type="datetime-local" asp-for="DataInicio" class="form-control" />
            </div>
            <div class="col-md-3">
                <label asp-for="DataFim" class="form-label"></label>
                <input type="datetime-local" asp-for="DataFim" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>